*{
    margin: 0;
    padding: 0;
}
.Navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0rem auto;
   background-color: rgb(53, 51, 51);
   height: 100%;
  
  
   
}
.navheader{
    height: auto;
   position: fixed;
   top: 0;
    width: 100%;
    margin: auto;
    margin: 0;
    border-bottom: 1px solid rgb(151, 148, 148);
   height: 15vh;
   z-index: 10000;
    
}
.link{
    list-style: none;
    text-decoration: none;
  
}
.Navbar div{
    background-color: rgb(53, 51, 51);
    margin: 2rem;
}
.midnavbar ul{
    display: flex;
    justify-content: space-between;
   cursor: pointer;
  
   
  
}
.navicon{
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
    
}

.midnavbar li{
    list-style: none;
    margin-left: 4rem;
    color: rgb(151, 148, 148);
    transition: all 0.3s linear;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items:center;
   
    
    list-style: none;
}

.midnavbar li:hover{
    color: rgb(54, 153, 153);
    transform: scale(0.9);
}
.mobile-contact-button{
    display: none;
}
.barandcross{
    display: none ;
}

.midnavbar-mobile{
    display: none;
}
.contact-button button{
   cursor: pointer;
   color: rgb(151, 148, 148);
   height: 40px;
   width: 100px;
   
}
.logo{
    color: rgb(151, 148, 148); 
}
.home-icon{
    color: green;
    color: white;
    
}

.logoicon{
    background: linear-gradient(rgb(71, 223, 223),white);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
@media screen and (max-width:1024px) {
    .midnavbar ul{
        flex-direction: column;
     
    }
    .contact-button{
        display: none;
    }
    .mobile-contact-button{
        display: inline-block;
        width: 100px;
        height: 40px;
        border: 2px solid teal;
        background-color: white;
        color: teal;
        border-radius: 6px;
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .open-dropdown{
        display: inline-block;
    }
    .midnavbar-mobile {
        display:inline-block;
        margin: 2rem auto;
      /* padding-top: 1rem; */
        background-color: rgb(53, 51, 51);
        width: 100%;
        z-index: 1000000;
       /* background-color: red; */
        /* transition: all 10s linear; */
      
    }
    .midnavbar-mobile li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
     
       width: 40%;
       margin: 0 auto;
    }
    .midnavbar-mobile li img{
        margin-left: 40px;
    }
    .midnavbar-mobile li p{
        margin-left: 10px;
    }
    .midnavbar-mobile ul{
        transition: all 0.3s ease-in-out;
        transform: translateY(-70px);
      
        animation: navbar 0.4s ease-in-out forwards
        /* transform: rotate(15deg); */
    }
    .ham{
        background-color: white;
        width: 25px;
        height: 25px;
        margin: 0;
    }
    @keyframes navbar{
        0%{
            transform: translateY(-70px);
            opacity: 0;
        }
        50%{
            opacity: 0.3s;
        }
        100%{
            transform: translateY(0px);
        }
    }
    
    .midnavbar-mobile li{
        list-style: none;
        margin-bottom: 1rem;
        color: rgb(151, 148, 148);
        /* transition: all 20s linear; */
      
        
       
       
    }
    
    .midnavbar{
        display: none;
       
    
    }
    .barandcross{
        display: flex ;
        justify-content: space-around;
        
      
       width: 30px;
      
    }
    .option:hover{
        transform: scale(0.9) ;
    }
    .option{
       
        cursor: pointer;
        transform: scale(0.9);
       
    }
  
    
}