*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
.skills{
    margin-top: 10vh;
    position: relative;
}
.innerskill{
    display: flex;
    align-items: center;
   justify-content: flex-start;
    color: white; 
    width: 15rem;
    height: 40px;
    padding: 10px;
    padding-left: 10px;
    z-index: 10;
    margin-top: 1.9rem;
    border-left: 1px solid teal;
    border-right: 2px solid teal;
    /* font-family: 'DM Sans', sans-serif; */
   box-shadow: 0px 5px 10px  rgb(0 0 0/ 15%);
  
}
.skillbody{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 50px;
}
.backg{
    position: absolute;
    font-size: 5rem;
    color: #3a3939;
   transform: rotate(15deg);
    filter: opacity(0.8);
    font-weight: 900px;
    margin: 0 auto;
}
.skill-image{
    width: 30px;
    height: 30px;
    margin-right: 5rem;
    background-color: white;
    border: none;
    outline: none;
}
.skill-image img{
    width: 100%;
    height: 100%;
   
}
.skills h2{
   color: teal;
}
.anim-first{
    opacity: 0;
    animation: style 2s ease-in-out forwards;
}
@keyframes style{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
.anim-second{
    opacity: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transform: translateX(70px);
    animation: style-sec 2s ease-in-out 1s forwards;
}
@keyframes style-sec{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
        /* transform: translateX(20px); */
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim-third{
    opacity: 0;
    transform: translateX(-70px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: style-thr 2s ease-in-out 2s forwards;
}
@keyframes style-thr{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim-fourth{
    opacity: 0;
    transform: translateX(70px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: style-fourth 2s ease-in-out 3s forwards;
}
@keyframes style-fourth{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim-fifth{
    opacity: 0;
    transform: translateX(-70px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: style-fifth 2s ease-in-out 4s forwards;
}
@keyframes style-fifth{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim-sixth{
    opacity: 0;
    transform: translateX(70px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: style-sixth 2s ease-in-out 5s forwards;
}
@keyframes style-sixth{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim-seventh{
    opacity: 0;
    transform: translateX(-70px);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: style-seventh 2s ease-in-out 6s forwards;
}
@keyframes style-seventh{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    75%{
opacity: 0.6;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


@media screen and (min-width:1001px) {
    .innerskill{
        width: 40rem;
        padding-left: 110px;
        height: 70px;
        font-size: 2rem;
        letter-spacing: 4px;
    }
    .skill-image{
        width: 50px;
        height: 50px;
        margin-right: 5rem;
    }
    .backg{
      
        font-size: 7rem;
    }
    .skills{
        margin-top: 15vh;
        position: relative;
    }
   
}
    @media   (min-width:501px) and (max-width:900px){
        .innerskill{
            width: 30rem;
            padding-left: 50px;
        height: 60px;
       

        }
        .skills{
            margin-top: 10vh;
            position: relative;
        }
        
        .backg{
      
            font-size: 7rem;
        }
        .skill-image{
            width: 40px;
            height: 40px;
            margin-right: 5rem;
        }
    }